@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Styling of the navbar */
header {
    background: linear-gradient(200deg, #200438, #2f095a, #000000);
    color: #f5f3f4;
    z-index: 5;
    position: relative;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.dj-logo {
    display: flex;
    gap: 10px;
    align-items: center;

}

.nav-logo .logo-text {
    display: inline-flex;
    gap: 5px;
    font-size: 28px;
    background: linear-gradient(to left,
            #64c4e7,
            #99b4dd,
            #c392c5,
            #f669be,
            #c57aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-text{
    display: flex;
}
.logo-text i {
    font-size: 40px;
}


.navbar {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
    position: relative;

}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-item {
    color: #d1d5dc;

}

/* Nav Links */

.nav-menu .nav-item  {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}

.nav-menu .nav-item a {
    font-weight: 400;
    text-decoration: none;
    color: #cfd8ff;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 3s ease;

       padding: 10px ;
    border-radius: 12px;
    border: 2px solid transparent;
    background: transparent;
    color:#ffffff;
    /* box-shadow: 0 0 15px rgba(162, 89, 255, 0.4); */
    backdrop-filter: blur(15px);
}

.nav-menu .nav-item  a:hover {
   background: linear-gradient(to left,
            #64c4e7,
            #99b4dd,
            #c392c5,
            #f669be,
            #c57aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #c34ae6;
    transform: translateX(6px);
    scale: 0.9;
    transform: translateY(-4px);
}

/* Active button */
.nav-menu .nav-item .active {
    padding: 10px ;
    border-radius: 12px;
    border: 2px solid transparent;
    background: rgba(162, 89, 255, 0.25);
    color:#ffffff;
    /* box-shadow: 0 0 15px rgba(162, 89, 255, 0.4); */
    backdrop-filter: blur(6px);
}

.nav-actions{
padding: 15px;
}

.book-btn{
    font-size: 16px;
    border: none;
    border-radius: 99px;
    padding: 12px 22px;
    color: #ffffff;
    background: linear-gradient(to right,
           #b749f6,
           #d148d0,
           #ec3dab);
              backdrop-filter: blur(6px);
  cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:
        0 0 10px rgba(183, 73, 246, 0.6),
        0 0 20px rgba(209, 72, 208, 0.5),
        0 0 30px rgba(236, 61, 171, 0.4);

}

.book-btn:hover{
    scale: 1.1;

}

/* END SECTION OF THE NAVBAR */